.App {
  text-align: center;
  width:90%;
  margin: auto;
}

.product__containter{
  margin-top:45px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  gap:20px;
}

